@import "../../scss/App.scss"; //common import on every component

.navigation-menu {
  .brand-name {
    font-family: $primary-font__700;
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 1px;
    color: $primary_Clr;
    text-transform: capitalize;
    margin: 1.6rem 0;
    span {
      text-transform: uppercase;
    }
  }
  .search-box {
    background-color: $dark-clr-sentinary;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    input[type="text"] {
      background-color: transparent;
      border: 0;
      outline: none;
      font-family: $primary-font__300;
      font-size: 1.4rem;
      color: $dark-clr-quinary;
      &::placeholder {
        font-family: $primary-font__300;
        color: inherit;
        text-transform: capitalize;
      }
    }
  }
  .nav-list {
    padding: 0;
    margin: 0;
    .nav-item {
      font-family: $primary-font__300;
      font-size: 1.4rem;
      line-height: 1.05;
      display: inline-block;
      list-style-type: none;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  .utility-list {
    padding: 0;
    margin: 0;
    .utility-item {
      display: inline-block;
      list-style-type: none;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
  .ns-icon{
    font-size: 1.8rem;
    color: $dark-clr-quinary;
    transition: color .2s;
    &:hover{
      color: $primary_Clr;
    }
  }
}
