@import "../../scss/App.scss"; //common import on every component

.signUp-form {
  padding: 6.2rem 4rem;
  box-shadow: 0 0 1.5rem 2px rgba(#000, 6%);
  width: 45rem;
  margin: 0 auto;
  @media screen and (max-width: 480px) {
    width: 30rem;
  }
  .signUpConfirmation{
    background-color: green;
    color: white;
    position: absolute; 
    top: "50%"; 
    left:"50%";
}
  .form-heading {
    font-family: $primary-font__700;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 2.3rem;
    color: $primary_Clr;
  }
  .form-content {
    margin-top: 3.2rem;
    .common-label {
      font-family: $primary-font__700;
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: $dark-clr;
    }
    .input-control {
      font-family: $primary-font__400;
      font-size: 1.4rem;
      line-height: 2rem;
      padding: 1.4rem 1.5rem;
      border-radius: 6px;
    }
    .sbmtCont {
      padding-top: 6rem;
      padding-bottom: 3.8rem;
    }
    .submit-button {
      font-family: $primary-font__500;
      font-size: 1.4rem;
      line-height: 1.6rem;
      background-color: $primary_bgClr;
      border: 0;
      color: $white-clr;
      padding: 1rem 0;
      width: 80%;
    }
    .login-link {
      text-align: center;
      p {
        font-family: $primary-font__400;
        font-size: 1.4rem;
        line-height: 1.68rem;
        color: $dark-clr-teritary;
      }
      span {
        font-family: $primary-font__500;
        font-size: 1.6rem;
        line-height: 1.92rem;
        color: inherit;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .form-error {
      font-family: $primary-font__400;
      font-size: 1.4rem;
      color: red;
      padding: 0.5rem 0;
    }
  }
  .form-group:not(:last-child) {
    margin-bottom: 1.4rem;
  }
  .tnc-agreement {
    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }
    label::before {
      content: "";
      border: 2px solid $primary_Clr;
      padding: 8px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
    }

    input:checked + label::before {
      background-color: $primary_Clr;
    }
    input:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 6px;
      width: 8px;
      height: 14px;
      border: solid $white-clr;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    label {
      font-family: $primary-font__400;
      color: $dark-clr-quarternary;
      font-size: 1.4rem;
      line-height: 2rem;
      position: relative;
    }
  }
}
