$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-cart: unquote('"\\e900"');
$icon-heart: unquote('"\\e901"');
$icon-magnifier: unquote('"\\e902"');
$icon-user: unquote('"\\e903"');
$icon-usersquare: unquote('"\\e904"');

