// Gotham
@font-face {
    font-family: 'Gotham-Book__400';
    // src: url('./assets/fonts/Gotham-Book__400/Gotham-Book.eot');
    src: url('../assets/fonts/Gotham-Book__400/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Book__400/Gotham-Book.woff2') format('woff2'),
        url('../assets/fonts/Gotham-Book__400/Gotham-Book.woff') format('woff'),
        url('../assets/fonts/Gotham-Book__400/Gotham-Book.ttf') format('truetype'),
        url('../assets/fonts/Gotham-Book__400/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Medium__500';
    src: url('../assets/fonts/Gotham-Medium__500/Gotham-Medium.eot');
    src: url('../assets/fonts/Gotham-Medium__500/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Medium__500/Gotham-Medium.woff2') format('woff2'),
        url('../assets/fonts/Gotham-Medium__500/Gotham-Medium.woff') format('woff'),
        url('../assets/fonts/Gotham-Medium__500/Gotham-Medium.ttf') format('truetype'),
        url('../assets/fonts/Gotham-Medium__500/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Bold__700';
    src: url('../assets/fonts/Gotham-Bold__700/Gotham-Bold.eot');
    src: url('../assets/fonts/Gotham-Bold__700/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Bold__700/Gotham-Bold.woff2') format('woff2'),
        url('../assets/fonts/Gotham-Bold__700/Gotham-Bold.woff') format('woff'),
        url('../assets/fonts/Gotham-Bold__700/Gotham-Bold.ttf') format('truetype'),
        url('../assets/fonts/Gotham-Bold__700/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

