@import "./fonts.scss";
// Fonts
// Gotham-Book
$primary-font__400: Gotham-Book__400;
$primary-font__500: Gotham-Medium__500;
$primary-font__700: Gotham-Bold__700;

//Font-colors: 
$white-clr: #fff;
$dark-clr: #666666;
$dark-clr-secondary: #585858;
$dark-clr-teritary: #4F4F4F;
$dark-clr-quarternary:#706A6A;

$primary_Clr:#BB0100;

// Background-colors: 
$primary_bgClr:#BB0100;